{% extends 'base.html.twig' %}
{% block books %}
    <br>
    <br>
    <br>
    <br>
    <h1 class="text-center">Books</h1>
    <br>
    <!-- Left-aligned media object -->
    <div class="media">
        <div class="media-left">
            <a href="#"><h3 class="media-heading">Book</h3></a>
            <a href="#"><img src="http://i.ebayimg.com/images/g/l6IAAOxyUrZS64di/s-l400.jpg" class="media-object" style="width:157px"></a>
        </div>
        <div class="media-body">
            <p><b>Description:</b> Very good conditon</p>
            <p>Price: $57.00</p>
            <p><a href="#" class="btn btn-info" role="button">BUY ITEM<span class="glyphicon glyphicon-book"></span></a></p>
        </div>
    </div>
    <hr>
    <div class="media">
        <div class="media-left">
            <a href="#"><h3 class="media-heading">Book</h3></a>
            <a href="#"><img src="http://i.ebayimg.com/images/g/l6IAAOxyUrZS64di/s-l400.jpg" class="media-object" style="width:157px"></a>
        </div>
        <div class="media-body">
            <p><b>Description:</b> Very good conditon</p>
            <p>Price: $57.00</p>
            <p><a href="#" class="btn btn-info" role="button">BUY ITEM<span class="glyphicon glyphicon-book"></span></a></p>
        </div>
    </div>
    <hr>
    <div class="media">
        <div class="media-left">
            <a href="#"><h3 class="media-heading">Book</h3></a>
            <a href="#"><img src="http://i.ebayimg.com/images/g/l6IAAOxyUrZS64di/s-l400.jpg" class="media-object" style="width:157px"></a>
        </div>
        <div class="media-body">
            <p><b>Description:</b> Very good conditon</p>
            <p>Price: $57.00</p>
            <p><a href="#" class="btn btn-info" role="button">BUY ITEM<span class="glyphicon glyphicon-book"></span></a></p>
        </div>
    </div>
{% endblock %}