{% extends 'base.html.twig' %}
{% block listing %}
    <br>
    <br>
    <br>
    <br>
    <h1 class="text-center">Clothes</h1>
    <br>
    <!-- Left-aligned media object -->
    <div class="media">
        <div class="media-left">
            <a href="#"><h3 class="media-heading">Adidas UB</h3></a>
            <a href="#"><img src="https://s-media-cache-ak0.pinimg.com/564x/2a/63/18/2a6318292b3963368a5be80f113016f2.jpg" class="media-object" style="width:110px"></a>
        </div>
        <div class="media-body">
            <p><b>Description:</b> Primeknit upper with boost midsole.</p>
            <p>Price: $200.00</p>
            <p><a href="#" class="btn btn-info" role="button">BUY ITEM<span class="glyphicon glyphicon-shopping-cart"></span></a></p>
        </div>
    </div>
    <hr>
    <div class="media">
        <div class="media-left">
            <a href="#"><h3 class="media-heading">Adidas UB</h3></a>
            <a href="#"><img src="https://s-media-cache-ak0.pinimg.com/564x/2a/63/18/2a6318292b3963368a5be80f113016f2.jpg" class="media-object" style="width:110px"></a>
        </div>
        <div class="media-body">
            <p><b>Description:</b> Primeknit upper with boost midsole.</p>
            <p>Price: $200.00</p>
            <p><a href="#" class="btn btn-info" role="button">BUY ITEM<span class="glyphicon glyphicon-shopping-cart"></span></a></p>
        </div>
    </div>
    <hr>
    <div class="media">
        <div class="media-left">
            <a href="#"><h3 class="media-heading">Adidas UB</h3></a>
            <a href="#"><img src="https://s-media-cache-ak0.pinimg.com/564x/2a/63/18/2a6318292b3963368a5be80f113016f2.jpg" class="media-object" style="width:110px"></a>
        </div>
        <div class="media-body">
            <p><b>Description:</b> Primeknit upper with boost midsole.</p>
            <p>Price: $200.00</p>
            <p><a href="#" class="btn btn-info" role="button">BUY ITEM<span class="glyphicon glyphicon-shopping-cart"></span></a></p>
        </div>
    </div>
{% endblock %}