{% extends 'base.html.twig' %}

{% block register %}
    <!--REGISTER-->
    <br>
    <br>
    <form action="" style="border:1px solid #ccc">
    <div class="container">
    <h1 class="text-center">My Account</h1>


            <div class="registercontainerform">
                <div class="name">
                    <label class="name"><b>Change Name:</b></label>
                    <br>
                    <label class="first"><b>First:</b></label>
                    <input class="box" type="text" placeholder="Update First Name" name="email">
                    <label class="last"><b>Last:</b></label>
                    <input class="box" type="text" placeholder="Update Last Name" name="email">
                </div>
                <br>
                <div class="phone">
                    <label class="phone"><b>Change Phone:</b></label>
                    <input class="box" type="text" placeholder="Update Phone #(E.g. 'xxx-xxx-xxxx')" name="email">
                </div>
                <br>
                <div class="psw">
                    <label class="psw"><b>New Password:</b></label>
                    <input class="box" type="password" placeholder="Update Password" name="psw">
                </div>
                <br>
                <div class="rpsw">
                    <label class="rpsw"><b>Repeat New Password:</b></label>
                    <input class="box" type="password" placeholder="Repeat New Password" name="psw-repeat">
                </div>
                <br>
                <div class="clearfix">
                    <button type="submit" class="signupbtn">
                        <a href={{ path('dashboard') }}>Update</a>
                    </button>
                </div>
            </div>
        </form>
    </div>

{% endblock %}
