{% extends 'base.html.twig' %}
{% block disclaimer %}

    <header>Disclaimer:</header>
    <br>
    <br>
    <p>
        This website was developed as a project for SFSU Software Engineering Course for Spring 2017. This is made from the
        students of SFSU and all information depicted is purely fictional in terms of its implementation and use. All info
        and images are property of Group 6 members or under the free use policy and are properly cited.
    </p>



{% endblock %}