{% extends 'base.html.twig' %}
{% block disclaimer %}
    <div class="container">
        <br><br><br><br>
        <h1 class="text-center">Disclaimer</h1>
        <br>
        <br>
        <p>
            This website was developed as a project for SFSU Software Engineering Course for Spring 2017. This is made from
            the
            students of SFSU and all information depicted is purely fictional in terms of its implementation and use. All
            info
            and images are property of Group 6 members or under the free use policy and are properly cited.
        </p>

    </div>
{% endblock %}