{% extends 'base.html.twig' %}
{% block infoPrivacy %}

    <header>Information Privacy Policy:</header>

    <br>
    <br>
    <h3><b>By creating an account on Student Swap you are hereby agreeing to the following:</b></h3>
    <br>
    <p>
        1. All information is accurate and is a proper representation of the student creating this account
        <br>
        <br>
        2. All information regarding any suspicious activity can be used under investigation
        <br>
        <br>
        3. Be willing to receive information via text message via our Twilio service
        <br>
        <br>
        4. Agree to <a href="https://www.twilio.com/legal/tos/archive/2014">Twilio's</a> Terms of Service
        <br>
        <br>
        5. Be willing to have certain information be shared with those involved within the parameters of the
        transactions
        <br>
        <br>
        6. Agreeing to data collection of Student Swap via <a ref="https://www.google.com/analytics/360-suite/?gclid=Cj0
        KEQjwuOHHBRDmvsHs8PukyIQBEiQAlEMW0IJ9x-V9sa17EmQ_TAZ_OGpVtusar3LjiPP17TSzTvYaAjTC8P8HAQ#?utm_source=google&utm_
        medium=cpc&utm_campaign=2017-q2-amer-all-ga360-analytics&utm_content=ga-360-suite-product-page-kw&modal_active=none">Google
            Analytics</a>
        <br>
        <br>
        7.

    </p>

{% endblock %}