{% extends 'base.html.twig' %}

{% block openOrders %}
    <div>
        <br>
        <br>
        <br>
        <br>
        <br>
    <h1 style="margin-left: 35%">There are currently no open orders.</h1>
        <br>
        <br>
    <p style="margin-left: 53%"><a href="{{ path('homepage') }}">Back to Home</a></p>
    </div>
{% endblock %}