{% extends 'base.html.twig' %}

{% block openOrders %}
    <br>
    <br>
    <!--Open Orders-->
    <div class="container">
        <h2 class="text-center">Open Orders</h2>
        <br>
        <div class="w3-responsive">
            <table class="w3-table-all">
                <thead>
                <tr>
                    <th><h5>Service</h5></th>
                    <th><h5>Image</h5></th>
                    <th><h5>Name</h5></th>
                    <th><h5>Posted Date</h5></th>
                    <th><h5>Price</h5></th>
                </tr>
                </thead>
                {% for item in items %}
                    <tr class="w3-hover-grey">
                        <td>Selling</td>
                        <td><img class="w3-image" src={{ asset( item.imageUrl ) }}
                                 alt="http://i.ebayimg.com/images/g/l6IAAOxyUrZS64di/s-l400.jpg"></td>
                        <td>{{ item.title }}</td>
                        <td>{{ item.image.updatedAt }}</td>
                        <td>{{ item.price }}</td>
                    </tr>
                {% endfor %}
            </table>
        </div>
    </div>

{% endblock %}