{% block body %}
    {% for value in item %}
        <div>
            <h1>{{ value.title }}</h1>
            <p>{{ value.id }} {{ value.price }} {{ value.description }}</p>
        </div>
    {% endfor %}
{% endblock %}