{% extends 'base.html.twig' %}
{% block search %}
    <br>
    <br>
    <br>
    <br>
    <h1 class="text-center">Search Result</h1>
    <br>
    {% for item in search %}
        <!-- Left-aligned media object -->
        <div class="media">
            <div class="media-left">
                <a href="#"><h3 class="media-heading"> {{ item.title }}</h3></a>
                <a href="#"><img src= {{ asset( item.imageUrl ) }}
                                 class="media-object"
                                 style="width:178px"
                                 alt="http://www.gametribute.com/wp-content/uploads/2016/03/Xbox-One.jpg"></a>
            </div>
            <div class="media-body">
                <p><b>Description:</b> {{ item.description }}</p>
                <p>Price: {{ item.price }}</p>
                <p><a href="#" class="btn btn-info" role="button">BUY ITEM<span
                                class="glyphicon glyphicon-shopping-cart"></span></a></p>
            </div>
        </div>
        <hr>
    {% endfor %}
{% endblock %}