{% extends 'base.html.twig' %}
{% block listing %}
    <br>
    <br>
    <br>
    <br>
    <h1 class="text-center">Tech</h1>
    <br>
    <!-- Left-aligned media object -->
    <div class="media">
        <div class="media-left">
            <a href="#"><h3 class="media-heading">XBOX One</h3></a>
            <a href="#"><img src="http://www.gametribute.com/wp-content/uploads/2016/03/Xbox-One.jpg"
                             class="media-object" style="width:178px"></a>
        </div>
        <div class="media-body">
            <p><b>Description:</b> Contains console, kinect, and one controller.</p>
            <p>Price: $250.00</p>
            <p><a href="#" class="btn btn-info" role="button">BUY ITEM<span class="glyphicon glyphicon-shopping-cart"></span></a></p>
        </div>
    </div>
    <hr>
    <div class="media">
        <div class="media-left">
            <a href="#"><h3 class="media-heading">XBOX One</h3></a>
            <a href="#"><img src="http://www.gametribute.com/wp-content/uploads/2016/03/Xbox-One.jpg" class="media-object" style="width:178px"></a>
        </div>
        <div class="media-body">
            <p><b>Description:</b> Contains console, kinect, and one controller.</p>
            <p>Price: $250.00</p>
            <p><a href="#" class="btn btn-info" role="button">BUY ITEM<span class="glyphicon glyphicon-shopping-cart"></span></a></p>
        </div>
    </div>
    <hr>
    <div class="media">
        <div class="media-left">
            <a href="#"><h3 class="media-heading">XBOX One</h3></a>
            <a href="#"><img src="http://www.gametribute.com/wp-content/uploads/2016/03/Xbox-One.jpg" class="media-object" style="width:178px"></a>
        </div>
        <div class="media-body">
            <p><b>Description:</b> Contains console, kinect, and one controller.</p>
            <p>Price: $250.00</p>
            <p><a href="#" class="btn btn-info" role="button">BUY ITEM<span class="glyphicon glyphicon-shopping-cart"></span></a></p>
        </div>
    </div>
{% endblock %}