
{% extends 'base.html.twig' %}
{% block terms %}
    <div class="container">
        <br><br><br><br>
        <div>
            <h1 class="text-center">Terms and Conditions of Student Swap</h1>
            <br>
            <br>
            <p>
            <h1 class="text-center"><b>With the usage of Student Swap you hereby agree to:</b></h1>
            <br>
            1. All terms and conditions are subject to change.
            <br>
            2. All information on the website is owned by the students of Group 6 SFSU studends of Spring 2017.
            <br>
            3. All dignity.

            </p>
        </div>
    </div>
{% endblock %}