{% extends 'base.html.twig' %}
{% block terms %}

    <header>Terms and Conditions of Student Swap:</header>
    <br>
    <br>
    <p>
    <h3>With the usage of Student Swap you hereby agree to:</h3>
    <br>
    <br>
    1. All terms and conditions are subject to change
    2. All information on the website is owned by the students of Group 6 SFSU studends of Spring 2017
    3.

    </p>

{% endblock %}