/* Sets parameters for the input */
.postContainer input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
    border-radius: 4px;
}



/* Styles the buttons */
.postContainer button {
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
}
.postContainer button:hover {
    opacity: 0.8;
}


/* Add padding to container elements */
.postContainer .container {
    padding: 16px;
}
button.cancelbtn {
    margin-left: 37.5%;
}

/* Extra styles for the cancel button */
button.cancelbtn {
    padding: 14px 20px;
    background-color: #f44336;
}

button.submitbtn {
    width: 25%;
    margin-left: 37.5%;

}

/* Float signup buttons and add an equal width */
.postContainer .cancelbtn,  .postContainer .signupbtn{
    float: left;
    width: 25%;
}

/* Clear floats */
.postContainer .clearfix::after {
    content: "";
    clear: both;
    display: table;
}

/* Change styles for signup button on extra small screens */
@media screen and (max-width: 300px) {
    .postContainer .cancelbtn, .postContainer .signupbtn {
        width: 100%;
    }
}


/*
.title {
    margin-left: 2%;
}

.price {
    margin-left: 1.6%;
}
.fileinput{
    margin-left: 8.5%;
}
.filetitle{
    margin-left: -6%;
}

label.description {
    margin-left: -5.5%;
}
.description {
    margin-left: 31%;
    width: 110%;
}

.postContainerform , form-inline{
    margin-left: 22%;
    width: 50%;
}
label.condition {
    margin-left: -39.5%;

}
label.category {
    margin-left: -39.5%;
}

.condition {
    margin-left: 31%;
}

.category {
    margin-left: 31%;
}

label.fileinput {
    margin-left: -39.5%;
    padding-right: 20%;
}

.fileinput {
    margin-left: 31%;
}
label.title, label.price {
    padding-right: 20%;
}
*/