/* Adds a border to the form */
form.login {
    border: 3px solid #f1f1f1;
    text-align: center;
}

/* Sets parameters for the text boxes */
.loginContainer input[type=text], .loginContainer input[type=password] {
    width: 60%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

/* Aligns the labels */
h1.loginform {
    margin-left: 16%;
}
.loginContainer .email, .psw {
    margin-left: -5%;
}

/* Edits password input box */
.loginContainer .psw input.box {
    width: 60%;
    border-radius: 3px;
}

/* Styles the buttons */
.loginContainer button {
    background-color: #333;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 50%;
}

.loginContainer button:hover {
    opacity: 0.8;
}

.loginContainer .registerbtn {
    width: auto;
    padding: 10px 18px;
    float: left;
    background-color: #4CAF50;
}


.loginContainer .container {
    padding: 19px;
    width: 50%;
    margin-left: 33%;
}

.loginContainer span.psw {
    float: right;
    padding-top: 16px;
}

/* Change styles for span and register button on extra small screens */
@media screen and (max-width: 300px) {
    span.psw {
        display: block;
        float: none;
    }
    .registerbtn {
        width: 100%;
    }
}
