/* Adds a border to the form */
form.login {
    border: 3px solid #f1f1f1;
}

/* Sets parameters for the text boxes */
input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

/* Aligns the labels */
/*
h1.loginform {
    margin-left: 16%;
}
.loginContainer .email {
    margin-left: -5%;
}

.loginContainer .psw {
    margin-left: -7%;
}
*/



/* Styles the buttons */
form.login button {
    background-color: #2d2d30;
    color: #f1f1f1;
    padding: 14px 20px;
    margin: 8px 0;
    border-radius: 4px;
    cursor: pointer;
    width: 100%;
    border-color: #f1f1f1;
    transition: .2s;
}

form.login button:hover, form.login button:focus {
    border: 1px solid #333;
    background-color: #fff;
    color: #000;
}

form.login .registerbtn {
    width: auto;
    padding: 10px 18px;
    float: left;
    background-color: green;
}


.container {
    padding: 16px;
}

span.psw {
    float: right;
    padding-top: 16px;
}

/* Change styles for span and register button on extra small screens */
@media screen and (max-width: 300px) {
    span.psw {
        display: block;
        float: none;
    }
    .registerbtn {
        width: 100%;
    }
}
