/* Sets parameters for the input */
.registercontainer input[type=text], input[type=password] {
    padding: 15px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
    text-align: center;
    border-radius: 4px;
}

.email input.box {
    box-sizing: border-box;
    border-radius: 4px;
    text-align: center;
    padding: 15px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
}


/* Set a style for all buttons */
.registercontainer .btn  {
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 100px;
    border: none;
    cursor: pointer;
    width: 25%;
}

/* Extra styles for the cancel button */
.registercontainer .cancelbtn {
    padding: 14px 20px;
    background-color: #f44336;
}

/* Float signup buttons and add an equal width */
.registercontainer .cancelbtn, .registercontainer .btn btn-info {
    float: left;
    width: 25%;
}

/* Add padding to container elements */
.registercontainer .container {
    padding: 16px;
}

/* Clear floats */
.registercontainer .clearfix::after {
    content: "";
    clear: both;
    display: table;
}

/* Change styles for signup button on extra small screens */
@media screen and (max-width: 300px) {
    .registercontainer .cancelbtn, .registercontainer .btn btn-info {
        width: 100%;
    }
}

/* Aligns the labels and input boxes*/
.registercontainer .registercontainerform {
    margin-left: 20%;
}

.registercontainer .name {
    margin-left: 2%;
}

.phone {
    margin-left: 2%;
}

.registercontainer .email {
    margin-left: 2%;
}

.registercontainer .psw {
    margin-left: 4%;
}

.registercontainer .psw input.box, .rpsw input.box, .email input.box {
    border-radius: 3px;
}

.rpsw {
    margin-left: 4%;
}


.registercontainer label.checkbox {
    margin-left: 42%;
}

label.terms {
    margin-left: 28%;
}

.registercontainer input.box {
    margin-bottom: -2%;
}

h1.registerform {
    margin-left: 47%;
}

.requiredfield {
    margin-left: 12%;
}
.first {
    margin-left: 1%;
}
.last {
    margin-left: 2%;
}
label.first, label.last {
    padding-right: 15%;
}
label.phone {
    padding-right: 12.5%;
}
label.email {
    padding-right: 13%;
}
label.pw {
    padding-right: 9.6%;
}
label.rpw {
    padding-right: 3%;
}
p.terms {
    margin-left: 25%;
}
.registercontainer .clearfix {
    margin-left: 25%;
}